body {

    font-family: 'Inconsolata', monospace;


}

.bg-general {

    background: rgb(19,17,28);
    background: linear-gradient(90deg, rgba(19,17,28,1) 0%, rgba(22,15,35,1) 49%);

}

.bg-violeta-oscuro {

    background-color: #291839;

}

.bg-blanco {

    background-color: #ffffff;

}

.bg-verde {

    background-color: #3e8866 ;

}

.bg-verde-claro {

    background-color: #95d0b4;

}

.bg-azul {

    background-color: #306ee8;

}

.border-rojo {

    border-color: #4f1817;
}

.border-violeta {

    border-color: #853bce;

}

.border-azul {

    border-color: #306ee8;

}

.border-verde {

    border-color: #3e8866;

}

.text-rojo-claro {

    color: #e89d9c;

}

.text-verde {

    color: #3e8866;

}

.text-verde-claro {

    color: #95d0b4;

}

.text-blanco {

    color: #ffffff;

}

.text-violeta {

    color: #853bce;

}

.text-azul {

    color: #306ee8;

}

.nav-link:hover {

    color: #853bce;

}

.btn:hover {

    color: #ffffff;
    border-color: #ffffff;

}

.enlace-contacto:hover {

    transform: translateY(10px);
    transition: 0.5s;

}

.mt-10 {

    margin-top: 10rem;

}

.mb-10 {

    margin-bottom: 10rem;

}