
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$paleta-personalizada: (

    "negro": #222831,
    "gris": #393E46,
    "azul-marino": #00ADB5,
    "blanco": #EEEEEE,

);

.hover-nav:hover {

    background-color: #EEEEEE;
    color : #222831 !important;

}

$theme-colors: map-merge-multiple($theme-colors, $paleta-personalizada);

@import "../node_modules/bootstrap/scss/bootstrap.scss";